<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>The inputs are {{n1}} and {{n2}}</div>
    <div>The requested operation is {{op}}</div>
    <h3>Result = {{result}}</h3>
</body>
</html>
